@use "../../utils/scss/mixins.module.scss" as mixins;
@use "../../utils/scss/defaults.module.scss" as defaults;

.header {
    @include mixins.createFlex(flex, center, center, 0, wrap, 10em);
    margin-bottom: 5em;
    .header-text {
        font-family: defaults.$fontInter;
    }
}